.container{
    width: 1300px;
    height: 800px;
    border: 1px solid grey;
    background-color: #5fadef;
}

.header{
    width: 1300px;
    height: 100px;
    border-bottom: 6px dotted white;
    font-size: 25px;
    
}


.slide{
    width: 1300px;
    height: 600px;
    display: flex;
    flex-direction: row;
    color: white;
    
}

.slide-left{
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

}

.heading-slide{
    width: 700;
    height: 200;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
}

.form-slide{
    width: 700;
    height: 400;
    font-size: 20px;
}

label{
    white-space: pre-line;
}

select{
    padding: 2px;
    border: 3px solid #4673c3;
    border-radius: 5px;
}

input{
    padding: 2px;
    padding-right: 130px;
    border: 3px solid #4673c3;
    border-radius: 5px;
}

textarea{
    width: 300px;
    height: 100px;
    border: 3px solid #4673c3;
    border-radius: 5px;
}

button{
    padding: 3px;
    padding-right: 6px;
    border: 4px dotted #4673c3;
    border-radius: 5px;
}

.slide-bar{
    width: 600px;
    height: 600px;
    font-size: 25px;
}

.footer{
    width: 1300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    border-top: 6px dotted white;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    
}

.menu li{
    margin-top: 30px;
}

.menu li a{
    text-decoration: none;
    color: white;
}

.menu li a:hover{
    color: blue;
}